@model ReportDetailsVM
@{
    ViewData["Title"] = "Report Details";
    ViewData["action"] = "ReportDetails";
    ViewData["pagename"] = "ReportDetails";

    Layout = "/Views/Shared/_DashboardLayout.cshtml";
    string StatusIcon(string status)
    {
        string Icon = status switch
        {
            "New" => "🔴",
            "InProcess" => "🔵",
            "Replied" => "🟢"
        };
        return Icon;
    }
}




@* // First section *@
<div class="row justify-content-between mt-2">
    <div class="col-5 ">
        <p class="h2 fw-bold">Report Details</p>
    </div>
</div>



@* // Second Section *@
<div class="row">
    <div class="col-12">
        <p class="h3 text-decoration-underline">Report Number # @Model.ReportId</p>
    </div>
    
    <div class="col-12">
        <table class="w-75 table table-bordered mx-auto">
            <tr class="">
                <th class="h5">Details</th>
            </tr>
            <tr class="">
                <th>Name</th>
                <td>@Model.Name</td>
            </tr>
            <tr class="">
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr class="">
                <th>Status</th>
                <td>@StatusIcon(Model.Status) @Model.Status</td>
            </tr>
            <tr class="">
                <th>Date</th>
                <td>@Model.Date.ToString("MMM dd , yyyy")</td>
            </tr>
            <tr class="">
                <th>Subject</th>
                <td>@Model.Subject</td>
            </tr>
            <tr class="">
                <th>Message</th>
                <td>
                    @Model.Message
                </td>
            </tr>
        </table>
    </div>
</div>





@* // Third Section *@
<div class="row">
    <div class="co-md-12">

        <form method="post" asp-action="MakeReportResponse" asp-controller="Dashboard" class="w-100" enctype="multipart/form-data">
            <input hidden name="ReportId" value="@Model.ReportId" />
            <div class="modal-content text-start">
                <div class="modal-header">
                    <h5 class="modal-title">Make Response</h5>
                </div>
                <div class="modal-body text-start">
                    <div class="row">
                        <div class="col-md-12 mb-1">
                            <label asp-for="@Model.MakeResponse.RecieveEmails" class="form-label fw-bold"></label>
                            <input asp-for="@Model.MakeResponse.RecieveEmails" value="@Model.Email" name="RecieveEmails" style="height:6vh;border-color:#ef9f10;border-radius:15px" class="form-control">
                            <span asp-validation-for="@Model.MakeResponse.RecieveEmails" data-valmsg-for="RecieveEmails" class="form-text text-danger"></span>
                        </div>
                        <div class="col-md-12 mb-1">
                            <label asp-for="@Model.MakeResponse.Subject" class="form-label fw-bold"></label>
                            <input asp-for="@Model.MakeResponse.Subject" name="Subject" style="height:6vh;border-color:#ef9f10;border-radius:15px" class="form-control">
                            <span asp-validation-for="@Model.MakeResponse.Subject" data-valmsg-for="Subject" class="form-text text-danger"></span>
                        </div>
                        <div class="col-md-12 mb-1">
                            <label asp-for="@Model.MakeResponse.Body" class="form-label fw-bold"></label>
                            <input asp-for="@Model.MakeResponse.Body" name="Body" style="height:6vh;border-color:#ef9f10;border-radius:15px" class="form-control">
                            <span asp-validation-for="@Model.MakeResponse.Body" data-valmsg-for="Body" class="form-text text-danger"></span>
                        </div>
                        <div class="col-md-12 mb-1">
                            <label asp-for="@Model.MakeResponse.Attachment" class="form-label"></label>
                            <input class="form-control" type="file" asp-for="@Model.MakeResponse.Attachment" name="Attachment">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btncol text-white">Send</button>
                </div>
            </div>

        </form>


    </div>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}